.right-sidemenu {
    position: fixed;
    right: 0;
    top: 3.5rem;
    width: 15rem;
    height: 100%;
}

ul {
    list-style: none;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul li:hover {
    background-color: dimgrey;
    cursor: pointer;
}

ul li span {
    padding-left: 10px;
    padding-right: 10px;
}
